.messages {
  overflow-y: auto;
  width: 100%;
  flex: 1;
  margin-bottom: 4em;
}

.message {
  text-align: left;
  padding: 1.5em 3em;
  position: relative;

  &__author {
    margin-left: 1em;
  }

  &__content {
    background: white;
    color: #51585C;
    width: fit-content;
    position: relative;
    padding: 1em;
    border-radius: 7.5px;
    font-weight: 500;
    margin-top: 1em;

    &__triangle {
      position: absolute;
      left: -8px;
      top: 0;
      border-left: 1em solid transparent;
      border-top-left-radius: 3px;
      border-top: 1.5em solid white;
    }

    &__delete {
      position: absolute;
      right: -2em;
      top: 0;
      border: none;
      background: transparent; 
    }

    &__edit {
      position: absolute;
      right: -2.5em;
      top: 1.5em;
      border: none;
      background: transparent; 
    }
  }
}
