.app {
  width: 40%;
  height: 100vh;
  margin: auto;
  text-align: center;
  background: #E5DDD5;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
