.chatListHeader {
    background: #F0F0F0;
    height: 3.5em;
    display: flex;
    align-items: center;
    padding: 1em;

    &__user {
        flex: 1;
        text-align: left;
    }

    &__new-msg {
        font-size: 1.5em;
        color: #51585C;
        border: none;
        padding: 0;

        &:hover {
            cursor: pointer;
            color: #737475;
        }
    }
}