.login {
  position: fixed;
  display: flex;
  right: 0;
  margin: 1em;

  &__toggle-btn {
    border: none;
    margin-right: .6em;
    width: 1.3em;
    height: 1.3em;
    font-size: 1.8em;
    border-radius: 50%;
    color: #5300FF;

    &.btn--open {
      transform: rotate(45deg)
    }

    &:hover {
      font-size: 2.2em;
      margin-right: .4em;
      margin-top: -.1em;
    }
  }

  &__form {
    display: none;

    &.form--open {
      display: block;
    }

    &__input {
      display: block;
      line-height: 2.5em;
      width: 16em;
      border: none;
      margin-bottom: .5em;
      padding-left: .75em;
      border-radius: 5px;
    }

    &__btn {
      width: 100%;
      line-height: 2.5em;
      font-size: .9em;
      border: none;
      border-radius: 5px;
      margin-top: .25em;
      background: #5300FF;
      color: white;
    }
  }
}
